<?xml version="1.0" encoding="utf-8"?>
<!-- Infinity Blade III PC Port, Android build: the game is libib3.so in a NativeActivity
     (GameActivity); LauncherActivity installs it from the player's .ipa first. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ib3port.game"
    android:versionCode="3"
    android:versionName="1.2.0">

    <uses-feature android:glEsVersion="0x00030000" android:required="true" />

    <application
        android:label="Infinity Blade III"
        android:icon="@mipmap/ic_launcher"
        android:extractNativeLibs="true"
        android:isGame="true"
        android:appCategory="game"
        android:allowBackup="false">
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:theme="@style/GameTheme"
            android:screenOrientation="sensorLandscape"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation|uiMode|density">
            <meta-data android:name="android.app.lib_name" android:value="ib3" />
        </activity>
    </application>
</manifest>
